<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Upload CSV Files</h1>
                    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input class="form-control" type="file" name="file" id="fileInput" accept=".csv" multiple>
                        </div>
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </form>

                    <div id="message" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a
        href="https://app.getpostman.com/run-collection/16175746-66df01ee-7ccd-44a9-a96b-557f6e676191?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D16175746-66df01ee-7ccd-44a9-a96b-557f6e676191%26entityType%3Dcollection%26workspaceId%3D693199e8-ec1c-4cff-8914-1de9e8425d0a">
        <img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height: 32px;">
    </a>
</div>